
<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">

		<title>Quiz</title>

		<link rel='stelesheet' href='/stylesheet/style.css' />

	</head>

	<body>	

		<%= respuesta %>

		<a href="/quizes/question">Intentelo otra vez</a>
		<br></br>

		</form>

	</body>

</html>